@model List<CrudWeb.Models.studetail>

@{
    ViewBag.Title = "Home Page";
}
<br />
<table class="table table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.id</td>
            <td>@item.name</td>
            <td>@item.email</td>
            <td><button type="button" class="btn btn-success">Edit</button></td>
            <td><button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
    }
</table>
<button type="button" class="btn btn-primary" onclick="window.location.href = 'Stu';">Add New</button>